.footer {
  border-top: 1px solid #D9FFF5;
  margin-top: 40px;
  padding: 16px;
  font-family: "TT Lakes Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* or 114% */
  color: #7E7E82;
  mix-blend-mode: normal;
  opacity: 0.72;
  text-align: center;
  .footer-content {
    margin-top: 16px;
  }
  .developed-by{

  }
  .politic {

  }
  .inform {

  }
}
@media (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .footer-content {
      margin: 0;
      width: 218px;
    }
    .developed-by{

    }
    .politic {

    }
    .inform {

    }
  }
}
@media (min-width: 1440px) {
  .footer {
    padding: 32px;
    .footer-content {
      width: 330px;
    }
    .developed-by{
      text-align: left;
    }
    .politic {

    }
    .inform {
      text-align: right;
    }
  }
}
