.main {
  .main__section{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #F8F8F8;
    /*padding-bottom: 35px;*/
    .title {
      display: flex;
      margin-top: 24px;
      .title__highlight{
        width: 4px;
        height: 40px;
        background: #41f6d7;
      }
      .title__text {
        font-family: 'TT Lakes';
        font-weight: bold;
        font-style: normal;
        color: #1B1C21;
        margin-left: 12px;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: -0.6px;
      }
      button:nth-of-type(1), button:nth-of-type(2) {
        display: none;
      }
    }
    .main__menu{
      margin-left: 16px;
      margin-top: 24px;
      display: flex;
      flex-direction: row;
      align-items: center;
      overflow: scroll;
      &:after {
        position:absolute;
        content:"";
        right:0px;
        top: 98px;
        width: 30px;
        height:36px;
        background: linear-gradient(to right, rgba(0,0,0,0),  #F8F8F8);
      }
      nav {
        ul {
          display: flex;
          flex-direction: row;
          padding-left: 0;
          margin-top: 8px;
          margin-bottom: 8px;
          li {
            list-style-type: none;
            a {
              padding: 8px 16.5px 8px 16.5px;
              margin-right: 20px;
              text-decoration: none;
              white-space: nowrap;
              font-family: 'TT Lakes';
              font-weight: 500;
              font-style: normal;
              color: #7E7E82;
              font-size: 16px;
              line-height: 24px;
              letter-spacing: -0.2px;
              &:hover {
                border: 2px solid #B8FFEC;
                box-sizing: border-box;
                border-radius: 6px;
                padding: 6px 14.5px 6px 14.5px;
              }
            }
          }
        }
      }
    }
  }
  .about-company {
    .container {
      display: flex;
      flex-direction: column;
      .about-company__description {
        margin-top: 24px;
        font-family: 'TT Lakes Regular';
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
        color: #1B1C21;
        margin-left: 16px;
        margin-right: 16px;

        .visibleSpan {
          display: none;
        }
      }
      .about-company__link {
        margin-top: 16px;
        margin-bottom: 16px;
        a {
          text-decoration: none;
          font-family: 'TT Lakes';
          font-weight: 500;
          font-style: normal;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: -0.2px;
          color: #1B1C21;
        }
      }
      .arrow-down {
        &::before {
          display: inline-block;
          content: url(/img/icon.svg);
          margin-right: 16px;
          margin-left: 24px;
        }
      }
      .arrow-up {
        &::before {
          display: inline-block;
          transform: rotate(180deg);
          content: url(/img/icon.svg);
          margin-right: 16px;
          margin-left: 24px;
        }
      }
    }
    .about-company__image {
      margin-top: 16px;
      margin-bottom: 35px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
.main__menu::-webkit-scrollbar { width: 0; }
.main__menu { -ms-overflow-style: none; }
.main__menu { overflow: -moz-scrollbars-none; }

@media (min-width: 768px) {
  .main {
    .main__section {
      /*padding-bottom: 40px;*/
        .title__highlight {

        }
        .title__text {

        }
        .title__button {

        }
      }
      .main__menu {
        margin-left: 24px;
        nav {
          ul {
            li {
              a {

              }
            }
          }
        }
      }
      .about-company {
        display: flex;
        .container {
          .about-company__description {
            margin-left:24px;
            margin-right:48px;
            .visibleSpan:nth-of-type(1) {
              display: initial;
            }
          }
          .about-company__link {
            margin-top: 10px;
            &:before {
              margin-left: 33px;
            }
            a {

            }
          }
        }
        .about-company__image {
          min-width: 360px;
          margin-right: 25px;
          img {
            border-radius: 6px;
            width: 100%;
          }
        }
      }
    }
  }

@media (min-width: 1440px) {
  .main {
    .main__section {
      /*padding-bottom: 49px;*/
      .title {
        .title__highlight {

        }
        .title__text {

        }
        button {
          display: flex;
          align-items: center;
          font-family: "TT Lakes";
          font-weight: 500;
          font-style: normal;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: -0.2px;
          color: #1B1C21;
          border: none;
          outline: none;
          background-color:#F8F8F8;
          &:nth-of-type(1), &:nth-of-type(2) {
            display: flex;
          }
          &:nth-of-type(1) {
            margin-left: auto;
            margin-right: 32px;
          }
          &:nth-of-type(2) {
            margin-right: 32px;
          }
          img {
            margin-left: 8px;
          }
        }
      }
      .main__menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 32px;
        &:after {
          display: none;
        }
        nav {
          ul {
            flex-wrap: wrap;
            li {
              display: inline-block;
              &:nth-of-type(1), &:nth-of-type(2) {
                margin-bottom: 16px;
              }
              a {

              }
            }
          }
        }
      }
      .about-company {
        .container {
          .about-company__description {
            margin-left:34px;
            margin-right:36px;
            span:nth-of-type(2) {
              display: initial;
            }
          }
          .about-company__link {
            &:before {
              margin-left: 40px;
            }
            a {

            }
          }
          }
        .about-company__image {
          min-width: 530px;
          margin-right: 29px;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}
