.price {
  margin: 0;
  padding: 0;
  .price-content {
    background: #F8F8F8;
    position: relative;
    &:after {
      position:absolute;
      content:"";
      right:0px;
      top: 16px;
      width: 24px;
      height:200px;
      background: linear-gradient(to right, rgba(0,0,0,0),  #F8F8F8);
      z-index: 100;
    }
    .price-slider {
      .price-slider__wrapper {
        .price-slider__slide {
          .price-slider__item {
            position: relative;
            margin: 16px 0 35px 16px;
            display: flex;
            flex-direction: column;
            width: 260px;
            height: 200px;
            background: #FFFFFF;
            border-radius: 6px;
            .price-slider__item-title {
              display: flex;
              flex-direction: row;
              font-family: "TT Lakes Medium";
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 16px;
              /* identical to box height, or 114% */
              color: #7E7E82;
              mix-blend-mode: normal;
              opacity: 0.72;
              margin: 16px auto 0px 16px;
            }
            .price-slider__item-text {
              display: flex;
              flex-direction: row;
              font-family: "TT Lakes Regular";
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 18px;
              /* or 129% */
              letter-spacing: 0.2px;
              color: #1B1C21;
              margin: 4px auto 0px 16px;
            }
            .price-slider__item-button {
              align-self: flex-end;
              position: absolute;
              right: 16px;
              bottom: 16px;
              button {
                background: #FFFFFF;
              }
            }
          }
        }
        .swiper-slide-hide {
          display: none;
        }
      }
      .button-share {
        display: none;
      }
      .arrow-down {

      }
      .arrow-up {

      }
      .swiper-pagination {
        .swiper-pagination-bullet {
          width: 12px;
          height: 12px;
          line-height: 12px;
          font-size: 14px;
          background: #B5B6BC;
        }
      }
    }
  }
  .price-description {
    margin: 16px 16px 10px 16px;
    font-family: "TT Lakes Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #1B1C21;
  }
  .price-link {
    margin-left: 16px;
    margin-right: 112px;
    a {
      position: relative;
      text-decoration: none;
      font-family: "TT Lakes Medium";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      /* or 150% */
      letter-spacing: -0.2px;
      color: #1B1C21;
      &:after {
        position: absolute;
        content: url("../img/img-for-slider/Line.svg");
        right: -15px;
        bottom: -3px;
      }
    }
  }
}
@media (min-width: 768px) {
  .price {
    .price-content {
      height: auto;
      &:after {
      }
      .price-slider {
        .price-slider__wrapper {
          .price-slider__slide {
            .price-slider__item {
              display: flex;
              flex-direction: row;
              width: auto;
              height: auto;
              margin: 0 24px 0 24px;
              border-radius: 0;
              border-bottom: 1px solid #EAEAEA;
              .price-slider__item-title {
              }
              .title-hide {
                display: none;
              }
              .price-slider__item-text {
                margin: 23px 0 23px 16px;

                &:nth-child(2) {
                  width: 348px;
                }
                &:nth-child(4) {
                  width: 74px;
                }
              }
              .price-slider__item-button {
                position: static;
                align-self: flex-start;
                margin: 16px 16px 16px auto;
                button {
                }
              }
            }
            &:last-of-type {
              border: none;
            }
          }
          .swiper-slide-hide {
            display: block;
            .price-slider__item {
              background: #F8F8F8;
              border: none;
              .price-slider__item-title {
                margin: 23px 0 23px 16px;
                &:nth-child(1) {
                  width: 348px;
                }
                &:nth-child(2) {
                  width: 74px;
                }
              }
            }
          }
        }
        .button-share {
        }
        .arrow-down {
        }
        .arrow-up {
        }
        .swiper-pagination {
          .swiper-pagination-bullet {
          }
        }
      }
    }
    .price-description {
      margin: 24px auto 16px 24px;
      width: 421px;
    }
    .price-link {
      margin: 0px auto auto 24px;
      a {
        &:after {
        }
      }
    }
  }
}
@media (min-width: 1440px) {
  .price {
    .price-content {
      &:after {
      }
      .price-slider {
        .price-slider__wrapper {
          .price-slider__slide {
            .price-slider__item {
              .price-slider__item-title {
              }
              .title-hide {
              }
              .price-slider__item-text {
                &:nth-child(2) {
                  width: 470px;
                }
                &:nth-child(4) {
                  width: 227px;
                }
              }
              .price-slider__item-button {
                button {
                }
              }
            }
            &:last-of-type {
            }
          }
          .swiper-slide-hide {
            .price-slider__item {
              .price-slider__item-title {
                &:nth-child(1) {
                  width: 470px;
                }
                &:nth-child(2) {
                  width: 227px;
                }
              }
            }
          }
        }
        .button-share {
        }
        .arrow-down {
        }
        .arrow-up {
        }
        .swiper-pagination {
          .swiper-pagination-bullet {
          }
        }
      }
    }
  }
  .price-about {
    margin: 16px 16px 10px 16px;
    font-family: "TT Lakes Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    letter-spacing: 0.2px;

    color: #1B1C21;
  }
  .price-link {
    margin-left: 16px;
    margin-right: 112px;
    a {
      position: relative;
      text-decoration: none;
      font-family: "TT Lakes Medium";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      /* or 150% */
      letter-spacing: -0.2px;
      color: #1B1C21;
      &:after {
        position: absolute;
        content: url("../img/img-for-slider/Line.svg");
        right: -15px;
        bottom: -3px;
      }
    }
  }
}
